name: Build and Deploy
on:
    push:
        branches:
            -   main

jobs:
    build:
        name: Build and Deploy # Ejemplo
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Repository
                uses: actions/checkout@master
            -   name: Setup Enviroment
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '7.4'
            -   name: Speed up the packages installation process
                run: composer global require hirak/prestissimo
            -   name: Install Packages
                run: composer install --no-dev
            -   name: Deploy to Server
                uses: lucianodiamand/larave-deploy-migrate@master
                with:
                    user: root
                    host: 181.1.65.176
                    port: 12722
                    path: /var/www
                    owner: www-data
                env:
                    DEPLOY_KEY: ${{ secrets.TEST_DEPLOY_KEY }}
